/packages
/.vs
/src/bin
/src/obj
/App_Data/temp
/App_Data/Output
/App_Data/SignatureData
/src/GroupDocs.Editor.WebForms.csproj.user
src/Resources/*
!src/Resources/.gitkeep
node_modules
src/package-lock.json
/src/node  
/GroupDocs.Editor.WebForms.Test/GroupDocs.Editor.WebForms.Test.csproj.user
/GroupDocs.Editor.WebForms.Test/bin
/GroupDocs.Editor.WebForms.Test/obj
/src/node_modules
!src/DocumentSamples/Editor/.gitkeep
src/Licenses
!src/Licenses/.gitkeep
/src/node
